/* ==========================================
   Dashboard
========================================== */

.dashboard{

    width:100%;

    display:grid;

    grid-template-columns:repeat(4,minmax(260px,1fr));

    gap:24px;

    margin:30px 0;

}

.stat-card{

    background:#ffffff;

    border-radius:20px;

    padding:24px;

    display:flex;

    align-items:center;

    gap:18px;

    border:1px solid #eceff5;

    box-shadow:0 8px 24px rgba(15,23,42,.05);

    transition:.25s;

    cursor:pointer;

}

.stat-card:hover{

    transform:translateY(-4px);

    box-shadow:0 18px 40px rgba(15,23,42,.12);

}

.icon{

    width:62px;

    height:62px;

    border-radius:18px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:30px;

    background:#eef2ff;

}

.stat-card:nth-child(2) .icon{

    background:#fff7ed;

}

.stat-card:nth-child(3) .icon{

    background:#ecfdf5;

}

.stat-card:nth-child(4) .icon{

    background:#eff6ff;

}

.stat-card small{

    display:block;

    color:#94a3b8;

    font-size:13px;

    margin-bottom:6px;

    font-weight:600;

}

.stat-card h2{

    font-size:34px;

    color:#111827;

    margin:0;

    font-weight:700;

    line-height:1;

}

.stat-card p{

    margin-top:8px;

    color:#22c55e;

    font-size:13px;

    font-weight:600;

}

.stat-content{

    display:flex;

    flex-direction:column;

    justify-content:center;

}

.stat-content small{

    color:#94a3b8;

    font-size:13px;

    margin-bottom:6px;

    font-weight:600;

}

.stat-content h2{

    margin:0;

    font-size:34px;

    font-weight:700;

    color:#111827;

}

.stat-content p{

    margin-top:8px;

    font-size:13px;

    color:#22c55e;

}
